[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
SQLAlchemy = "*"
python-dotenv = "*"
aiofiles = "*"
FastAPI-SQLAlchemy = "*"
Jinja2 = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
